/* Create two equal columns that floats next to each other */
.gallery-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .gallery-col {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .gallery-col img {
    vertical-align: middle;
    width: 100%;
    /* opacity: 0.5; */
  }

  .fade-out-scroll-gallery {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
    z-index: -1;
  }

  @keyframes fade-out {
    to{scale: 1; opacity: 0;}
  }

  .card-img-overlay {
    text-align: center !important;
    text-shadow: 0 0.05rem 0.1rem rgba(#000, 0.687);
    font-weight: bolder !important;
    transition: all .2s ease;
    color: #ffffff;
    vertical-align: middle;
  }
  .card-title-custom-gallery {
    visibility: hidden;
  }
  .card-img-overlay:hover .card-title-custom-gallery {
    border-radius: 4px;
    /* background-color: #c6a1cf; */
    background-color: #ffffff;
    padding: 8px;
    box-shadow: 1px 1px 2px #4c3e4f;
    transition: all .2s ease;
    /* color: #ffffff; */
    color: #4c3e4f;
    visibility: visible;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallery-col {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery-col {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  /* Hover effect for devices with hover capability */

@media (hover: hover) {

  .card.bg-dark {
    background-color: #4c3e4f7c !important;
    transition: all .2s ease-in-out;
  }
  .card.bg-dark:hover {
    transform-origin: center;
   /* transform: translate3d(0, -20px, -20px) scale(1.1);*/  /*move up slightly and zoom in */
    transform: translate3d(-20px, -40px, -20px) scale(1.1);
    box-shadow: 10px 28px 70px rgba(39,44,49,.07), 1px 8px 15px rgba(39,44,49,.04);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

}

/* Alternative approach for touch devices (less precise) */

@media (pointer: coarse) {
  .card.bg-dark {
    background-color: #4c3e4f3e !important;
    transition: all .2s ease;
  }
  .card.bg-dark:active {
    transform-origin: center;
    box-shadow: 10px 28px 70px rgba(39,44,49,.07), 1px 8px 15px rgba(39,44,49,.04);
    transform: translate3d(0,0,0) scale(1.1);
    transition: all .2s ease-in-out;
  }
}



/* 
"pointer: coarse":
This feature detects if the primary pointer device on the screen has a coarse movement, which is usually associated with touch screens.
"not (pointer: coarse)":
By using the "not" operator, the media query will only apply to devices where the pointer is not coarse, meaning non-touch devices.  
*/