$dark: #4c3e4f;
$light: #c6a1cf;
$display-font-weight: 500;
$primary: #4c3e4f;
$secondary: #c6a1cf;
$info: #cfcbab;
$text-info-emphasis: $secondary;
$white: #ffffff;
$black: #000;

$box-shadow-lg: 0 1rem 3rem rgba($info, 0.175);

// CUSTOM CLASSES

// FONT FAMILY

.font-family-custom {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
  color: $primary;
  scroll-behavior: smooth;
  // below two are to provide sharping and smooth effect to
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
}

// PRIMARY bUTTON STYLES

.btn-custom-outline-primary {
  background-color: $white !important;
  color: $primary !important;
}
.btn-custom-fill-primary:hover {
  background-color: $white !important;
  color: $primary !important;
}
.btn-custom-fill-primary {
  background-color: $primary !important;
  color: $white !important;
}
.btn-custom-outline-primary:hover {
  background-color: $primary !important;
  color: $white !important;
}

.btn-custom .btn {
  padding: 0 !important;
}

// SECONDARY BUTTONS STYLE

.btn-custom-fill-secondary {
  background-color: $secondary !important;
  color: $white !important;
}

.btn-custom-outline-secondary {
  background-color: $white !important;
  color: $secondary !important;
}

.btn-custom-outline-secondary:hover {
  background-color: $secondary !important;
  color: $white !important;
}

.btn-custom-fill-secondary:hover {
  background-color: $white !important;
  color: $secondary !important;
}

.btn-link:hover {
  font-size: 18px !important;
  transition: all .2s ease;
}

/* ICONS */
.icon-button-custom-fill-primary {
  background-color: #ffffff !important;
  color: #4c3e4f !important;
  cursor:pointer;
  transition: transform 1s;
}
.icon-button-custom-fill-primary:hover {
  background-color: #ffffff !important;
  color: #7e6683 !important;
  cursor:pointer;
  transform: rotate(90deg);
}
.default-css-unset {
  all:unset;
}

// BACKGROUND IMAGES

.home--image {
  height: 87vh;
  background-image:linear-gradient(rgba($primary, 0.4), rgba(24, 24, 24, 0.5)),
  url("https://images.pexels.com/photos/1884326/pexels-photo-1884326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: contain;
  background-position: center bottom;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;

  transform-origin: bottom;
  animation: background-image-animation linear;
  animation-timeline: view();
  animation-range: exit;
}

// https://images.pexels.com/photos/267669/pexels-photo-267669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
.back-ground-image-half {
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0, 0.8), rgba($black, 0.5)),
  url("https://images.pexels.com/photos/1808200/pexels-photo-1808200.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=3");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba($black, 0.687);
  box-shadow: inset 0 0 10px rgba($black, 0.700);
  background-repeat: no-repeat;

  transform-origin: bottom;
  animation: background-image-animation linear;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes background-image-animation {
  25% {opacity:1}
  85%, 100% {opacity: 0; scale: 2}
}

.image-text-label {
  border-radius: 4px;
  background-color: #000000a9;
  padding: 8px;
  box-shadow: 1px 1px 2px $black;
  color: $white;
}

// CAROUSAL STYLES

.carousal--size {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.carousal--design {
  box-shadow: 0 4px 10px rgba($black, 0.2);
}

// NAVBAR STYLES

.nav-link.active:hover {
  border-bottom: 1px solid $white;
}

.nav-link:hover {
  border-bottom: 1px solid rgba($white, .55);
}

.navbar {
  font-size: 20px; 
}

a.btn:active, button:active {
  transform: scale(0.95); /* Adds a subtle press effect */
}

// STYLES ON SCROLL
@media (prefers-reduced-motion: no-preference) {

  .fade-in-load {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  .fade-in-load.visible {
    opacity: 1;
    transform: translateY(0);
  }
  // @mixin fade-in-scroll-contain($cssProperty1, $cssPropertyValue1, $cssProperty2, $cssPropertyValue2) {
  //   scale: .9;
  //   #{$cssProperty}: $cssPropertyValue;
  //   animation-timeline: scroll();
  //   animation-range: contain 100px;
  //   transition: 0.2s ease
  // }

  .fade-in-scroll-js {
    @extend .fade-in-load
  }
  
  .fade-in-scroll-js.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-in-scroll-js.hidden {
    opacity: 0.5;
    transform: translateY(20px);
  }

  .fade-out-scroll {
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -400px;
  }

  @keyframes fade-out {
    to{opacity: 0; visibility: hidden;}
  }

  .fade-in-scroll-image {
      scale: .8;
      animation: fade-in-image linear;
      animation-timeline: scroll();
      animation-range: cover;
      transition: 0.6s ease;
  }

  @keyframes fade-in-image {
    to{scale: 1; opacity: 1;}
  }
  
  /* Alternative approach for touch devices (less precise) */
  
  @media (pointer: coarse) {
    .opacity-decrease-in-scroll {
      // scale: .98;
      // opacity: 0; // if used this then the value it is used on will not be visible
      animation: opacity-decrease linear;
      animation-timeline: view();
      animation-range: exit;
    }
  
    @keyframes opacity-decrease {
      // from {
      //   scale: 0.95;
      // }
      to{scale: 1; opacity: 0;}
    }
  }
}
@import "../../node_modules/bootstrap/scss/bootstrap";