<div class="book-container pt-3">
    <div class="book d-none d-md-block">
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
  </div>
  <div class="pt-5">
    <div class="ball" style="top: 60%; left: 40%; animation-delay: 0s;"></div>
  <div class="ball" style="top: 50%; left: 50%; animation-delay: 1s;"></div>
  <div class="ball" style="top: 80%; left: 20%; animation-delay: 2s;"></div>
  <div class="ball" style="top: 50%; left: 50%; animation-delay: 0s;"></div>
  </div>