<% layout('./layout/boilerplate') %>

<h1><%=bookJson.homePage.title%></h1>
<a href="/readingBliss"><%=bookJson.homePage.actionButtons.listOfBooksLabel%></a>
<a href="/readingBliss/newBook"><%=bookJson.homePage.actionButtons.newBookLabel%></a>