<% layout('./layout/imageBoilerplate') %>
<div class="mb-5 d-grid gap-5">
  <div class="row">
    <div
      class="col-12 display-1 font-family-custom-Caveat back-ground-image-half"
    >
      <p class="pt-5 ms-5">ABOUT US</p>
    </div>
  </div>
  <div class="container text-center">
    <div class="row d-flex justify-content-center flex-lg-row flex-column">
      <div class="col-6">
        <div class="card shadow rounded">
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
              ducimus, illo quas maxime cupiditate expedita unde ratione quasi
              libero repudiandae soluta pariatur commodi ipsum in blanditiis
              deleniti voluptates asperiores facilis!
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card shadow rounded">
          <div class="card-body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, aut
              fuga! Animi placeat tenetur sequi? Nobis cum dolor aliquam nisi
              reprehenderit, in veniam doloribus! Incidunt consequuntur sit
              praesentium velit nulla!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <img
      src="https://images.pexels.com/photos/711009/pexels-photo-711009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      class="rounded-circle"
      alt="Cinque Terre"
      width="304"
      height="236"
    />
  </div>
</div>
