
<div class="d-flex flex-column gap-5">
    <h1 class="fade-in-load"><%=staticPageNotFound.title %></h1>
    <div class="d-grid gap-2 d-flex justify-content-center fade-in-load">
        <a href="/" class="d-inline btn btn-link" role="button"><%=staticPageNotFound.actionButton.homeButtonLabel %></a>
    </div>
</div>