<% layout('layout/boilerplate') %>

    <h1 class="text-center mb-3"><u><b>REGISTER</b></u></h1>
    <div class="shadow-lg bg-info p-5 bg-opacity-75 rounded">
        <form action="/readingBliss/register" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" autofocus
                    placeholder="Please Enter Your name" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Enter UserName</label>
                <input type="text" name="username" class="form-control" id="username"
                    placeholder="Please Enter Your Username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Enter Your Email</label>
                <input type="email" name="emailId" class="form-control" id="email"
                    placeholder="Please Enter Your Email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input name="password" type="password" id="password" class="form-control"
                        placeholder="Please Enter Your Password" required>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                <button type="submit" class="btn btn-primary btn-custom-fill-primary py-2 px-4" value="Submit">Sign Up</button>
                <a href="/readingBliss/login" class="btn btn-link" role="button">Login</a>
            </div>
        </form>
    </div>